<style>
.container {
background-color: #f5f5f5;
}
</style>
<body>
<div class="container">
<%= image_tag @product.image%><br>
<strong><%= @product.name%></strong><br>
<h3>Price:<%=number_to_currency(@product.price) %></h3><br>
<%= @product.description%><br>
<a href="/carts/<%=@product.id%>" class= "btn btn-danger">AddToCart</a>
 
<a href ="/suppliers", class= "btn btn-danger">Suppliers</a>
<a href ="/payment", class= "btn btn-success">Buy Now</a>
</div></body>