<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "MyCart" %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">


    
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <style type="text/css">
    .navbar ul {
  list-style-type :none;

  display :inline-block;


  }
  .navbar ul {
    float:right;
  }
  .navbar ul li  {
  
  padding :10px;

  display:inline-block;
  margin:auto;
  font-size: 20px;


  }
  h1  {
   font-size:1.75em; 
  }
  
  .navbar {
    background-color: #000;
  }
  .jumbotron {
    margin-top:-20px;
  }

  a {
    text-decoration: none;
  }
</style>
  </head>

  <body>
   <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/home"><h1>MyCart</h1 ></a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li ><a href="/home">Home</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/categories">Categories</a></li>
         <% if user_signed_in? %>

            <li><%= link_to "sign out", destroy_user_session_path, method: :delete , :class => "btn btn-default"%></li>

          <%else%>
            <li><%=link_to "SignIn" , new_user_session_path, :class => "btn btn-default"%></li>
             <li><%=link_to "Signup", new_user_registration_path, :class => "btn btn-default" %></li>
          <%end%>
        </ul>
      </div>
    </div>
  </nav>
      
    

  <%= yield %>

   
  <!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  </body>
</html>
